:root{
    --mainColor: #aa4444;
    --bgColor: #ccc;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    padding: 1rem 1.6rem;
    background-color: var(--mainColor);
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    max-width: fit-content;
    border: 2px solid var(--mainColor)
}
.btn:hover{
    background: none;
    color: rgb(202, 57, 57);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
#logoLink{
    display: block;
    text-align: center;
}
header > hr{
    width: 80%;
}

/* -------- Menu -------- */

.topNav{
    text-align: center;
}
.topNav a{
    display: inline-block;
    color: var(--mainColor);
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}
.topNav a:hover{
    background-color: var(--mainColor);
    color: white;
}
.topNav .mobMenuIcon{
    display: none;
}

/* -------- /Menu -------- */

/* -------- Banner -------- */

.banner{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url(images/background.jpg) no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
}
.banner .container{
    padding: 1rem;
}
.banner h1{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.banner h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* -------- /Banner -------- */

/* -------- Main -------- */

main{
    background-color: var(--bgColor);
}
main .container{
    display: flex;
}
.mainItem{
    background-color: white;
    padding: 1rem;
    margin: 1rem 0.5rem;
}
main .container #mainColumn{
    flex: 70vw;
}
main .container #mainAside{
    flex: 30vw;
}

/* -------- /Main -------- */

/* -------- Article -------- */

.artThumbnail{
    display: block;
    width: 100%;
}
.entryMeta{
    padding: 1rem 0;
}
.entryMeta a{
    color: var(--mainColor);
    text-decoration: none;
}
.faMyClass{
    font-size: 0.3rem;
    position: relative;
    bottom: 0.2rem;
    padding: 0 0.2rem;
}
article h2 a{
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    font-family: Noto Serif;
    line-height: 1.4;
    color: rgb(114, 56, 168);
}
article p{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.entryFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.shareIcons a{
    color: #776b6b;
    font-size: 1.2rem;
    letter-spacing: 1rem;
}
/* -------- /Article -------- */

/* -------- Widgets -------- */

.quote {
    background-color: var(--mainColor);
    color: white;
    text-align: center;
}
.quote p:nth-child(1){
    font-size: 1.4rem;
    font-style: italic;
}
.mainItem h4{
    text-transform: uppercase;
    color: var(--mainColor);
}
.mainItem.tags a {
    background-color: #ccc;
    text-decoration: none;
    color: black;
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    display: inline-block;
    margin: 0.2rem 0.1rem;
}
.mainItem ul{
    margin: 0;
    padding: 0;

}
.mainItem ul li{
    list-style-type: none;
    padding: 1rem 0;
    position: relative;
}
.mainItem ul li:not(:last-child)::after{
    content: "";
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mainItem.recentComments ul li span{
    color: var(--mainColor)
}
.mainItem.recentComments ul li span::before{
    content: "\2014";
    color: black;
    padding-right: 0.4rem;
}
.mainItem.recentComments ul li a{
    text-decoration: none;
    color: #888;
    display: block;
    padding-top: 0.3rem;
    font-size: 1.2rem;
    font-style: italic;
}

.mainItem.categories ul li::before{
    content: "\27B2";
    padding-right: 0.4rem;
}
.mainItem.categories a{
    color: #888;
    text-decoration: none;
}


/* -------- /Widgets -------- */

@media screen and (max-width: 800px){

    /* -------- Menu -------- */

    .topNav{
        text-align: left;
    }
    .topNav a:not(:first-child){
        display: none;
    }
    .topNav a.mobMenuIcon{
        display: block;
        float: right;
    }
    .topNav.responsive {
        position: relative;
    }
    .topNav.responsive a.mobMenuIcon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        display: block;
        text-align: left;
        float: none;
    }

    /* -------- /Menu -------- */

    /* -------- Banner -------- */
    
    .banner h1{
        font-size: 10vw;
    }
    .banner h2{
        font-size: 7vw;
    }

    /* -------- /Banner -------- */

    /* -------- Main -------- */

    main .container{
        flex-direction: column;
    }
    main .container #mainColumn{
        flex: auto;
    }
    main .container #mainAside{
        flex: auto;
    }
    
    /* -------- /Main -------- */
   
    /* -------- Article -------- */

    .entryFooter{
        flex-direction: column-reverse;
        row-gap: 1rem;;
    }

    /* -------- /Article -------- */
}
